!!!
%html
  %head
    %title Congressinatra
    %link{:rel=>"stylesheet", :href=>"/stylesheets/style.css", :type => "text/css"}
  %body
    #banner 
      Congressinatra
    #nav 
      %a{:href=>("/")}= "HOME"
    #content
      = yield